*{
    font-family: sans-serif;
    font-weight: lighter;
}

body {
    background-color: #eef5f7;
}

div.container {
    width: 100%;
    border: 1px solid #08a3c7;
}

header, footer {
    padding: 1em;
    color: white;
    background-color: #00b5e4;
    clear: left;
    text-align: center;
    vertical-align: middle;
}

header h1{
    font-weight: lighter;
    font-size: 40px;
}

h2{
    font-weight: lighter;
    font-size: 30px;
}

.logo {
    width: 150px;
    vertical-align: top;
    margin: 10px;
}

nav {
    float: left;
    max-width: 160px;
    margin: 0;
    padding: 1em;
}

nav ul {
    list-style-type: none;
    padding: 0;
}
   
nav ul a {
    text-decoration: none;
}

article {
    margin-left: 170px;
    border-left: 1px solid #08a3c7;
    padding: 1em;
    overflow: hidden;
}

/* Timer **/

#clockdiv {
  font-family: sans-serif;
  color: #FFFFFF;
  display: block;
  font-weight: 100;
  text-align: center;
  font-size: 30px;
  align-self: center;
}

#clockdiv > div {
  padding: 10px;
  border-radius: 3px;
  background: #08a3c7; /* #3f72a3; */
  display: inline-block;
}

#clockdiv div > span {
  padding: 15px;
  border-radius: 3px;
  background: #FFFFFF;
  display: inline-block;
}

.smalltext {
  padding-top: 5px;
  font-size: 16px;
}

#clockdiv span {
   color: #1a1a1a;
}

#clockdiv p {
   color: #1a1a1a;
   padding: 0;
}

/* Formularios */
.containerf{padding-right:15px;padding-left:15px;}
#frmIncome{border: 1px solid #08a3c7;}
.col-sm-12, .col-sm-10,.col-sm-2{padding-right:15px;padding-left:15px}
.form-group{margin-bottom:15px}
.control-label{margin-bottom:0;vertical-align:middle;}
.form-horizontal {padding-top:7px;margin-top:0;margin-bottom:0}
.form-control{
    padding: 5px;
    background-color: #08a3c7;
    color: #fff;
    border: 1px solid #08a3c7;
}
.width100{ width: 100%; }
#frMsg{
    background-color: #880000;
    color: #ffff00;
}